:root {
    --color1: teal;
    --color2: aqua;
    --color3: coral;
}

body {
    display:flex;
    flex-direction:column;
    background-color:var(--color1);
    margin: 10%;
    margin-top: 5%;
}

.card {
    background-color:var(--color2);
    border: 5px solid var(--color3);
    border-radius: 1em;
    margin-bottom: 2%;
    padding: 1%;
}

.sliderWrapper {
    display:flex;
    justify-content: center;
}

.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width:50%;
    /*height: 25px;  Specified height */
    background: var(--color2); /* Grey background */
    border: 5px solid var(--color3);
    border-radius: 5em;
    outline: none; /* Remove outline */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 24px; /* Set a specific slider handle width */
    height: 24px; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 24px; /* Set a specific slider handle width */
    height: 24px; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
}
