:root{
    --color1: coral;
    --color2: teal;
    --color3: aqua;
}

body {
    background-color:var(--color2);
    margin:10%;
    margin-top:5%;
}

.card {
    background-color: var(--color3);
    border:5px solid var(--color1);
    border-radius: 1em;
    margin-bottom:2%;
    padding:1%;
}
